html, body, .wrap {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family:'Quattrocento Sas', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.wrap {
  position: fixed;
  background-color: #D1F0E3;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.card {
  width: 303px;
  height: 347px;
  margin: auto;
  margin-top:100px;
  cursor:default;
  background-color: white;
  border: 1px solid #eee;
  padding: 19px;
  text-align: center;
}

.card h3.name {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 300;
  color: #EBC2C2;
  letter-spacing: 3px;
  line-height: 1.1;
  margin-top: 12px;
}

.card img {
  width: 263px;
  margin: 0 auto;
}

.social {
  margin: 0 auto;
  margin-top: 20px;
  width:303px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

.social a, .social a:active, .social a:visited{
  color: #ffffff;
}

.social a{
  padding-right: 7px;
  transition: all .2s ease-in-out;
}

.social a:hover{
  color: #EBC2C2;
  transform: scale(1.1);
}
